<DOCTYPE html>
    <html>
        <head>
            <body>
                {{>header }}
                <p>{{ errorMessage }}</p>
                {{>footer }}
            </body>
        </head>
    </html>