<DOCTYPE html>
    <html>
        <head>
            <body>
                {{>header }}
                <p>{{ content }}</p>
                 {{>footer }}
            </body>
        </head>
    </html>